@font-face {
  font-family: "garamondpro";
  src: url("../assets/fonts/garamondpremrpro.otf") format("truetype");
}
@font-face {
  font-family: "garamondpro";
  src: url("../assets/fonts/garamondpremrpro-bld.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "garamondpro";
  src: url("../assets/fonts/garamondpremrpro-it.otf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "garamondpro";
  src: url("../assets/fonts/garamondpremrpro-bldit.otf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "imfell";
  src: url("../assets/fonts/feenrm2.ttf") format("truetype");
}
@font-face {
  font-family: "imfell";
  src: url("../assets/fonts/feenit2.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "posterbodoni";
  src: url("../assets/fonts/posterbodoni.otf") format("truetype");
}
@font-face {
  font-family: "arrusbt";
  src: url("../assets/fonts/arrusbtroman.ttf") format("truetype");
}
@font-face {
  font-family: "arrusbt";
  src: url("../assets/fonts/arrusbtbold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "arrusbt";
  src: url("../assets/fonts/arrusbtitalic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "arrusbt";
  src: url("../assets/fonts/arrusbtbolditalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "trajan";
  src: url("../assets/fonts/trajanpro-regular.otf") format("truetype");
}
@font-face {
  font-family: "trajan";
  src: url("../assets/fonts/trajanpro-bold.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "imfellfrenchcanon";
  src: url("../assets/fonts/imfellfrenchcanon-regular.ttf") format("truetype");
}
@font-face {
  font-family: "imfellfrenchcanon";
  src: url("../assets/fonts/imfellfrenchcanon-italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "gorilla";
  src: url("../assets/fonts/gorilla.ttf") format("truetype");
}
@font-face {
  font-family: "neoclassic";
  src: url("../assets/fonts/neoclassicfleuronsfree.otf") format("truetype");
}
@font-face {
  font-family: "byron";
  src: url("../assets/fonts/byron.ttf") format("truetype");
}
@font-face {
  font-family: "garedechambord";
  src: url("../assets/fonts/gare_de_chambord.ttf") format("truetype");
}
@font-face {
  font-family: "suezone";
  src: url("../assets/fonts/suezone-regular.ttf") format("truetype");
}
.flexrow {
  display: flex;
  flex-direction: row;
}
.editor {
  height: 100%;
  width: 100%;
  background: repeat url("../assets/images/sheets/background.webp");
  box-shadow: inset 0 0 6px black;
  font-family: "garamondpro";
  font-size: 1.2em;
  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 5em;
}
.editor-content {
  min-height: 5em;
}
i.logo_comportement {
  width: 30px;
  height: 30px;
  background-image: url("../assets/icones/comportement.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
i.logo_defaut {
  width: 30px;
  height: 30px;
  background-image: url("../assets/icones/defaut.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.esprit-header {
  background: repeat url("../assets/images/sheets/esprit-header.webp");
  display: grid;
  grid-template-columns: 180px 571px 100px 133px;
}
.esprit-header .titre_feuille {
  font-family: "arrusbt";
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  padding-left: 10px;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.esprit-header .titre_feuille::first-letter {
  font-size: 2rem;
}
.esprit-header .charname {
  font-family: "garedechambord";
  font-size: 3em;
  color: white;
  margin-left: 5px;
  margin-top: 10px;
}
.esprit-header .charname input {
  color: white;
}
.esprit-header .perisprit-bloc {
  display: flex;
  flex-direction: column;
}
.esprit-header .perisprit-bloc .perisprit-label {
  font-family: "arrusbt";
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  border: 0px;
  margin-bottom: 5px;
  margin-top: 16px;
  color: #ae9065;
}
.esprit-header .perisprit-bloc .perisprit-value {
  text-align: center;
}
.esprit-header .perisprit-bloc .perisprit-value input {
  font-family: "arrusbt";
  font-size: 2em;
  width: 3em;
  color: #ae9065;
  border: 0px;
}
.esprit-header .esprit-portrait {
  border: none;
  margin: 2px 10px 0px 0px;
  justify-self: end;
  width: 133px;
  height: 80px;
}
.esprit-header .esprit-portrait img {
  border-radius: 50%;
}
.choix_tab {
  font-family: "posterbodoni";
  font-size: 1.2em;
  color: #f0eae1;
  text-transform: uppercase;
  border: 1px solid #f0eae1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  padding: 0.5em 0.5em 0.3em 0.5em;
}
.choix_tab.active {
  border: 2px solid white;
  color: white;
  border-bottom-width: 0;
}
.sheet-navigation {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
  font-size: 1, 5em;
}
.titre2 {
  font-family: "posterbodoni";
  font-size: 1.5em;
  color: #497180;
  text-align: center;
  text-transform: uppercase;
}
.tab-qualites {
  background: repeat url("../assets/images/sheets/esprit-tab-qualites.webp");
}
.grid-tab-qualites {
  display: grid;
  grid-template-columns: 350px 600px;
  padding-left: 30px;
}
.grid-arbre-qualites {
  grid-row: 1 / 6;
  grid-column: 1 / 2;
  display: grid;
  margin-top: 9px;
  grid-template-columns: 90px 100px 120px;
  grid-template-rows: 120px 120px 120px 120px 120px;
}
.intellect-group {
  position: relative;
  z-index: 1;
  margin-top: 48px;
  grid-row: 1;
  grid-column: 1 / 2;
}
.courage-group {
  grid-row: 1;
  grid-column: 2 / 3;
}
.sensibilite-group {
  position: relative;
  z-index: 1;
  margin-top: 48px;
  grid-row: 1;
  grid-column: 3 / 4;
}
.autorite-group {
  position: relative;
  z-index: 1;
  margin-top: 48px;
  grid-row: 2;
  grid-column: 1 / 2;
}
.ouverture-group {
  position: relative;
  z-index: 1;
  margin-top: 48px;
  grid-row: 2;
  grid-column: 3 / 4;
}
.savoir-group {
  position: relative;
  z-index: 1;
  margin-top: 48px;
  grid-row: 3;
  grid-column: 1 / 2;
}
.serenite-group {
  grid-row: 3;
  grid-column: 2 / 3;
}
.charisme-group {
  position: relative;
  z-index: 1;
  margin-top: 48px;
  grid-row: 3;
  grid-column: 3 / 4;
}
.attention-group {
  grid-row: 4;
  grid-column: 2 / 3;
}
.coordination-group {
  grid-row: 5;
  grid-column: 2 / 3;
}
.qualite-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 30px 23px 30px;
}
.qualite-group .qualite-name {
  font-family: "arrusbt";
  font-weight: bold;
  font-size: 1em;
  color: #497180;
  text-transform: uppercase;
  margin-top: 15px;
  padding-left: 24px;
}
.qualite-group .qualite-value {
  font-family: "arrusbt";
  font-weight: bold;
  font-size: 2em;
  color: #497180;
  text-transform: uppercase;
}
.qualite-group .qualite-value input {
  margin-left: -6px;
  text-align: center;
  width: 1em;
}
.qualite-group .qvdroite {
  padding-left: 55px;
}
.qualite-group .qvgauche {
  padding-left: 47px;
}
.qualite-group .position-arbre {
  text-shadow: 0 0 5px #3c36f4;
}
.qualite-group .defaut-value {
  font-family: "arrusbt";
  font-weight: bold;
  font-size: 1.2em;
  color: #7b3135;
  text-transform: uppercase;
}
.qualite-group .defaut-value input {
  text-align: center;
  width: 0.9em;
  margin-left: -4px;
}
.qualite-group .dvdroite {
  padding-left: 70px;
}
.qualite-group .dvgauche {
  text-align: left;
  padding-left: 38px;
}
.qualite-group .defaut-name {
  font-family: "arrusbt";
  font-weight: bold;
  font-size: 0.7em;
  color: #7b3135;
  text-transform: uppercase;
}
.qualite-group .dndroite {
  padding-left: 45px;
}
.qualite-group .dngauche {
  padding-left: 0px;
}
.col-droite-qualites {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  margin-top: 25px;
}
.col-droite-qualites .concept {
  text-align: justify;
  margin-left: 10px;
  font-family: "garedechambord";
  font-size: 2em;
  color: black;
  margin-left: 5px;
  margin-top: 10px;
}
.col-droite-qualites .concept input {
  color: black;
}
.col-droite-qualites .concept input {
  text-align: justify;
}
.col-droite-qualites .aspects-grid {
  display: grid;
  grid-template-columns: 180px 40px 1fr;
  grid-template-rows: 34px 34px 34px;
}
.col-droite-qualites .aspects-grid .aspects-ligne {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.col-droite-qualites .aspects-grid .aspects-ligne .nom-aspect {
  font-family: "arrusbt";
  font-weight: bold;
  font-size: 1em;
  color: #497180;
  text-transform: uppercase;
  padding-left: 10px;
}
.col-droite-qualites .aspects-grid .aspects-ligne .aspect-desc {
  font-family: "arrusbt";
  font-weight: bold;
  font-size: 1em;
  color: #685a4e;
  text-transform: uppercase;
  padding-left: 6px;
}
.col-droite-qualites .aspects-grid .aspectcircle {
  border-radius: 50%;
  padding: 7px 8px;
  border: 2px solid #497180;
  color: #497180;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}
.col-droite-qualites .aspects-grid .encart-exp {
  background: no-repeat url("../assets/images/sheets/encart_exp.webp");
  background-size: cover;
  font-family: "arrusbt";
  font-weight: bold;
  font-size: 1.5em;
  color: #497180;
  text-transform: uppercase;
  text-align: center;
  justify-self: right;
  width: 199px;
}
.col-droite-qualites .aspects-grid .encart-exp .text-exp {
  margin-top: 50px;
}
.col-droite-qualites .aspects-grid .encart-exp input {
  width: 1em;
}
.col-droite-qualites .acquis-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.col-droite-qualites .acquis-col .ligne-acquis {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  justify-content: left;
  margin: 0.5em 0.5em 0px 0.5em;
  border-bottom: 1px solid black;
}
.col-droite-qualites .acquis-col .acquis-nom {
  font-family: "arrusbt";
  font-weight: bold;
  font-size: 1em;
  color: #497180;
  padding-left: 0.5em;
  align-self: center;
}
.col-droite-qualites .acquis-col .icon-group {
  margin-left: auto;
}
.grid-tab-actions {
  background: repeat url("../assets/images/sheets/esprit-tab-actions.webp");
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-tab-actions .categorie {
  display: flex;
  flex-direction: column;
  margin: 10px 5px 0px 5px;
  min-height: 250px;
}
.grid-tab-actions .categorie .actions-ligne {
  margin-top: 15px;
}
.grid-tab-actions .categorie_agir {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
}
.grid-tab-actions .categorie_communiquer {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
}
.grid-tab-actions .categorie_percevoir {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}
.grid-tab-actions .categorie_savoir {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
.grid-tab-actions .nom-action {
  font-family: "trajan";
  font-size: 1em;
  color: #6a7980;
  text-indent: 5px;
  text-transform: uppercase;
}
.tab-perisprit {
  background: repeat url("../assets/images/sheets/esprit-tab-perisprit.webp");
  min-height: 600px;
}
.tab-perisprit .titre2 {
  color: white;
  max-height: 30px;
}
.tab-perisprit .grid-pouvoirs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tab-perisprit .grid-pouvoirs .bloc-pouvoir {
  padding: 0px 5px;
}
.tab-perisprit .grid-pouvoirs .nom {
  font-family: "arrusbt";
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  border: 0px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #ae9065;
}
.tab-perisprit .grid-pouvoirs .info-line {
  font-family: "arrusbt";
  font-weight: bold;
  font-size: 1.1em;
  border: 0px;
  margin: 3px;
  color: #ae9065;
  text-align: center;
}
.tab-perisprit .grid-pouvoirs .neoclassic {
  font-family: "neoclassic";
  font-size: 1.3em;
  text-align: center;
  color: #ae9065;
  text-indent: 0px;
  margin: 0px;
}
.tab-perisprit .grid-pouvoirs .description {
  font-size: 0.9em;
  color: white;
  text-align: justify;
  border: 2px solid #886a3c;
  width: 98%;
  padding: 6px;
  margin: 0 auto;
  background: rgba(10, 9, 0, 0.5);
}
.tab-perisprit .grid-pouvoirs .inner-desc {
  position: relative;
  border: 2px solid #886a3c;
  width: 100%;
  margin: auto;
  padding: 8px;
}
.cabinet-membres {
  background: repeat url("../assets/images/sheets/fond_gestion.webp");
  min-width: 200px;
  min-height: 200px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 90px 90px 200px 120px 120px 120px;
  align-items: center;
  font-family: "arrusbt";
}
.cabinet-membres .membre-img {
  padding: 5px;
  justify-self: end;
  width: 80px;
  height: 80px;
}
.cabinet-membres .membre-img img {
  max-height: 90%;
}
.cabinet-membres .membre-icone {
  width: 40px;
  margin: auto;
}
.cabinet-membres .titre_col {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
.arbredevie {
  background: no-repeat url("../assets/images/sheets/arbre_vie.webp");
  width: 600px;
  height: 628px;
  display: grid;
  grid-template-columns: 112px 304px;
}
.arbredevie img {
  max-width: 61px;
  max-height: 61px;
  border: 0px;
}
.arbredevie .jardin {
  height: 428px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
}
.arbredevie .jardin .sphere {
  align-self: center;
  margin-top: 20px;
}
.arbredevie .arbre {
  height: 628px;
}
.arbredevie .arbre .sphere {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}
.arbredevie .arbre .qlipha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
}
.arbredevie .arbre .kether {
  position: relative;
  top: 26px;
  left: 212px;
}
.arbredevie .arbre .qlipha-kether {
  position: relative;
  top: -1099px;
  left: 300px;
}
.arbredevie .arbre .binah {
  position: relative;
  top: -23px;
  left: 101px;
}
.arbredevie .arbre .qlipha-binah {
  position: relative;
  top: -1057px;
  left: 102px;
}
.arbredevie .arbre .chokmah {
  position: relative;
  top: -144px;
  left: 322px;
}
.arbredevie .arbre .qlipha-chokmah {
  position: relative;
  top: -1088px;
  left: 411px;
}
.arbredevie .arbre .geburah {
  position: relative;
  top: -150px;
  left: 101px;
}
.arbredevie .arbre .qlipha-geburah {
  position: relative;
  top: -1005px;
  left: 103px;
}
.arbredevie .arbre .chesed {
  position: relative;
  top: -270px;
  left: 322px;
}
.arbredevie .arbre .qlipha-chesed {
  position: relative;
  top: -1037px;
  left: 411px;
}
.arbredevie .arbre .tiferet {
  position: relative;
  top: -335px;
  left: 212px;
}
.arbredevie .arbre .qlipha-tiferet {
  position: relative;
  top: -1012px;
  left: 300px;
}
.arbredevie .arbre .hod {
  position: relative;
  top: -392px;
  left: 101px;
}
.arbredevie .arbre .qlipha-hod {
  position: relative;
  top: -984px;
  left: 102px;
}
.arbredevie .arbre .netzach {
  position: relative;
  top: -513px;
  left: 322px;
}
.arbredevie .arbre .qlipha-netzach {
  position: relative;
  top: -1013px;
  left: 411px;
}
.arbredevie .arbre .yesod {
  position: relative;
  top: -581px;
  left: 212px;
}
.arbredevie .arbre .qlipha-yesod {
  position: relative;
  top: -991px;
  left: 300px;
}
.arbredevie .arbre .malkuth {
  position: relative;
  top: -585px;
  left: 212px;
}
.arbredevie .arbre .qlipha-malkuth {
  position: relative;
  top: -905px;
  left: 300px;
}
.action-sheet {
  background: repeat url("../assets/images/sheets/fond-action.webp");
  font-family: "arrusbt";
  font-weight: bold;
  color: black;
}
.action-sheet .name-title input {
  font-family: "trajan";
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  border: 0px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.action-sheet .action-grid {
  display: grid;
  grid-template-columns: 40px 120px 40px 100px 40px 100px 20px;
  grid-template-rows: 40px 40px;
  margin-top: 10px;
  font-family: "imfellfrenchcanon";
  font-size: 1em;
  color: #605347;
  align-items: center;
}
.action-sheet .action-grid .action-label {
  align-self: center;
  font-size: 3em;
}
.action-sheet .action-grid .action-val select {
  font-family: "imfellfrenchcanon";
  font-size: 1em;
  color: #605347;
}
.action-sheet .opposition-grid {
  display: grid;
  grid-template-columns: 40px 80px 100px 40px 100px;
  grid-template-rows: 40px;
  font-family: "imfellfrenchcanon";
  font-size: 1em;
  color: #605347;
  align-items: center;
  margin-top: 15px;
}
.action-sheet .opposition-grid .opp-label {
  align-self: center;
  font-size: 1.2em;
}
.action-sheet .opposition-grid .action-label {
  align-self: center;
  font-size: 3em;
}
.action-sheet .opposition-grid .action-val select {
  font-family: "imfellfrenchcanon";
  font-size: 1em;
  color: #605347;
}
.action-sheet .editor {
  min-height: 300px;
}
.action-sheet .editor-content {
  min-height: 300px;
  font-weight: normal;
  margin: 0px 5px;
}
.action-sheet .action-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.action-sheet .action-grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.action-sheet .actions-vert {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.action-sheet .actions-vert .vert-name {
  font-family: "arrusbt";
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.action-description {
  font-family: "garamondpro";
  font-size: 1em;
  text-indent: 0px;
  text-align: justify;
}
.acquis-sheet {
  background: repeat url("../assets/images/sheets/fond-acquis.webp");
  font-family: "arrusbt";
  font-weight: bold;
}
.acquis-sheet .name-title {
  display: flex;
  flex-direction: row;
}
.acquis-sheet .name-title input {
  font-size: 2em;
  text-transform: uppercase;
  text-align: left;
  border: 0px;
  margin-top: 20px;
  margin-left: 20px;
  color: #497180;
}
.acquis-sheet .name-title img {
  border: 0px;
  max-height: 100px;
}
.acquis-sheet .acquis-content {
  width: 400px;
  min-height: 260px;
}
.acquis-sheet .field-name {
  text-transform: uppercase;
  margin: 5px 10px;
  text-align: center;
  color: #497180;
}
.acquis-sheet .valeur-group {
  display: flex;
  flex-direction: row;
  margin: 0px 10px 15px 150px;
}
.acquis-sheet .description-group {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 15px 10px;
}
.acquis-sheet .description-group .editor {
  min-height: 150px;
}
.acquis-sheet .description-group .editor-content {
  min-height: 150px;
  margin: 0px 5px;
  font-weight: normal;
}
.corruption-sheet {
  background: repeat url("../assets/images/sheets/fond-corruption.webp");
  font-family: "arrusbt";
  font-weight: bold;
}
.corruption-sheet .name-title {
  display: flex;
  flex-direction: row;
}
.corruption-sheet .name-title input {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  border: 0px;
  margin-top: 20px;
  color: #ab9192;
}
.corruption-sheet .name-title img {
  border: 0px;
  max-height: 100px;
}
.corruption-sheet .description-group {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 15px 10px;
}
.corruption-sheet .description-group .description-name {
  text-transform: uppercase;
  margin: 5px 10px;
  text-align: center;
  color: #d0e4d1;
}
.corruption-sheet .description-group .editor {
  min-height: 235px;
}
.corruption-sheet .description-group .editor-content {
  min-height: 235px;
  font-weight: normal;
  margin: 0px 5px;
}
.pouvoir-sheet {
  background: repeat url("../assets/images/sheets/fond-pouvoir.webp");
  font-family: "arrusbt";
  font-weight: bold;
}
.pouvoir-sheet .name-title {
  position: relative;
  z-index: 2;
}
.pouvoir-sheet .name-title input {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  border: 0px;
  margin-bottom: 0px;
  margin-top: 10px;
  color: #ae9065;
}
.pouvoir-sheet .ornementg {
  margin-bottom: -94px;
  margin-left: -158px;
  position: relative;
  z-index: 1;
  top: -33px;
}
.pouvoir-sheet .ornementg img {
  border: 0px;
}
.pouvoir-sheet .pouvoir-content {
  display: grid;
  grid-template-columns: 100px 100px 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
  margin: 15px;
  padding-top: 10px;
  background: repeat url("../assets/images/sheets/fond-ins-pouvoir.webp");
  color: #497180;
  border: 2px solid #685a4e;
  min-height: 376px;
}
.pouvoir-sheet .pouvoir-content .niveau-name {
  text-transform: uppercase;
  margin: 5px 10px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.pouvoir-sheet .pouvoir-content .niveau-val {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  position: relative;
  z-index: 2;
}
.pouvoir-sheet .pouvoir-content .niveau-val input {
  width: 2em;
}
.pouvoir-sheet .pouvoir-content .sphere-name {
  text-transform: uppercase;
  margin: 5px 10px;
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}
.pouvoir-sheet .pouvoir-content .sphere-val {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}
.pouvoir-sheet .pouvoir-content .sphere-val input {
  width: 8em;
}
.pouvoir-sheet .pouvoir-content .perisprit-name {
  text-transform: uppercase;
  margin: 5px 10px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.pouvoir-sheet .pouvoir-content .perisprit-val {
  grid-row: 2/3;
  grid-column: 2 / 3;
}
.pouvoir-sheet .pouvoir-content .perisprit-val input {
  width: 2em;
}
.pouvoir-sheet .pouvoir-content .description-group {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 15px 10px;
  grid-row: 1 / 6;
  grid-column: 3 / 4;
}
.pouvoir-sheet .pouvoir-content .description-group .description-name {
  text-transform: uppercase;
  margin: 5px 10px;
  text-align: center;
}
.pouvoir-sheet .pouvoir-content .description-group .editor {
  min-height: 300px;
}
.pouvoir-sheet .pouvoir-content .description-group .editor-content {
  min-height: 300px;
  font-weight: normal;
}
.pouvoir-sheet .pouvoir-content .controle-fields {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  margin-left: 8px;
}
.pouvoir-sheet .pouvoir-content .auto-fields {
  grid-row: 3/4;
  grid-column: 2 / 3;
  margin-left: 20px;
}
.pouvoir-sheet .pouvoir-content .checkbox {
  font-size: 0.7em;
  color: #497180;
  text-transform: uppercase;
}
.pouvoir-sheet .pouvoir-content .imgsphere {
  grid-row: 5 / 6;
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
}
.pouvoir-sheet .pouvoir-content .imgsphere img {
  border: 0px;
  max-height: 100px;
}
/* ----------------------------------------- */
/*  Roll Dialog                              */
/* ----------------------------------------- */
.standard-check {
  gap: 0.5rem;
}
.roller {
  flex: 2;
  gap: 0.5rem;
  text-align: center;
}
.roller .bonuses {
  gap: 0.5rem;
}
.roller .bonuses input {
  line-height: 32px;
}
footer.buttons {
  gap: 0.5rem;
}
footer.buttons button,
footer.buttons select {
  height: 32px;
}
.dice-roll.standard-check .dice-pool {
  justify-content: space-between;
  margin: 10px 0;
}
.dice-roll.standard-check .die {
  position: relative;
  flex: 0 0 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 6px #EEE;
  background-size: 48px 48px;
  filter: drop-shadow(0px 0px 6px #EEE);
}
.dice-roll.standard-check .die.d4 {
  background-image: url("/icons/svg/d4-grey.svg");
}
.dice-roll.standard-check .die.d6 {
  background-image: url("/icons/svg/d6-grey.svg");
}
.dice-roll.standard-check .die.d8 {
  background-image: url("/icons/svg/d8-grey.svg");
}
.dice-roll.standard-check .die.d10 {
  background-image: url("/icons/svg/d10-grey.svg");
}
.dice-roll.standard-check .die.d12 {
  background-image: url("/icons/svg/d12-grey.svg");
}
.dice-roll.standard-check .boons {
  position: relative;
  flex: 0 0 48px;
  text-align: center;
  padding: 8px 0;
}
.dice-roll.standard-check .boons i,
.dice-roll.standard-check .boons span {
  height: 16px;
  line-height: 16px;
  display: block;
}
.dice-roll.standard-check .dice-tooltip .counter {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}
.dice-roll.standard-check .dice-tooltip .counter label {
  font-size: 16px;
  font-family: var(--fontFamilySerif);
}
.dice-roll.standard-check .dice-tooltip .counter span {
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid red;
  border-radius: 2px;
  text-align: center;
}
.dice-roll.standard-check .dice-tooltip .boon-details,
.dice-roll.standard-check .dice-tooltip .bane-details {
  gap: 0.25rem;
  padding: 0.25rem 0;
  margin: 0.25rem 0;
  border-bottom: 1px solid beige;
}
.dice-roll.standard-check .dice-tooltip .boon-details h4,
.dice-roll.standard-check .dice-tooltip .bane-details h4 {
  font-weight: bold;
  margin: 0;
}
.dice-roll.standard-check .dice-tooltip .boon-details .boon span.label,
.dice-roll.standard-check .dice-tooltip .bane-details .boon span.label,
.dice-roll.standard-check .dice-tooltip .boon-details .bane span.label,
.dice-roll.standard-check .dice-tooltip .bane-details .bane span.label {
  order: 1;
  font-size: 16px;
  font-family: var(--fontFamilySerif);
}
.dice-roll.standard-check .dice-tooltip .boon-details .boon input,
.dice-roll.standard-check .dice-tooltip .bane-details .boon input,
.dice-roll.standard-check .dice-tooltip .boon-details .bane input,
.dice-roll.standard-check .dice-tooltip .bane-details .bane input {
  order: 2;
  flex: 0 0 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid red;
  border-radius: 2px;
  text-align: center;
}
.dice-roll.standard-check .check-result,
.dice-roll.standard-check .damage-result {
  position: relative;
  margin: 5px 0 0;
}
.dice-roll.standard-check .check-result .outcome,
.dice-roll.standard-check .damage-result .outcome,
.dice-roll.standard-check .check-result .target,
.dice-roll.standard-check .damage-result .target {
  position: absolute;
  color: burlywood;
  font-weight: normal;
  font-size: 14px;
}
.dice-roll.standard-check .check-result .outcome,
.dice-roll.standard-check .damage-result .outcome {
  left: 5px;
}
.dice-roll.standard-check .check-result .target,
.dice-roll.standard-check .damage-result .target {
  right: 5px;
}
.dice-roll.standard-check .check-result .applied:before,
.dice-roll.standard-check .damage-result .applied:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 3px;
  content: "\f00c";
}
.dice-roll.standard-check.success .check-result {
  background: rgba(0, 255, 0, 0.05);
  border: 1px solid green;
}
.dice-roll.standard-check.failure .check-result {
  background: rgba(255, 0, 0, 0.05);
  border: 1px solid red;
}
.dice-roll.standard-check.glance .check-result {
  background: rgba(255, 255, 0, 0.05);
  border: 1px solid yellow;
}
.dice-roll.standard-check.failure.critical .check-result {
  background: rgba(255, 0, 0, 0.05);
  color: red;
  border: 1px solid red;
}
.dice-roll.standard-check.success.critical .check-result {
  background: rgba(0, 255, 0, 0.05);
  color: green;
  border: 1px solid green;
}
.resolution {
  font-family: "imfellfrenchcanon";
  font-size: 1em;
  color: #605347;
  text-indent: 0px;
}
.resolution .aspect {
  font-style: italic;
  font-size: 1em;
}
.resolution .qualite {
  font-size: 0.7em;
  text-transform: uppercase;
}
.resolution .qualite .qualite_first {
  font-size: 1.5em;
}
.resolution .difficulte {
  font-family: "garamondpro";
  font-style: italic;
}
