.acquis-sheet {
  background-color: white;
  background: var(--background_acquis);
  font-family: "arrusbt";
  font-weight: bold;
  .name-title {
    display: flex;
    flex-direction: row;
    input {
      font-size: 1.5em;
      text-transform: uppercase;
      text-align: left;
      border: 0px;
      margin-top: 10px;
      margin-left : 10px;
      color: #497180;
    }
    img{
      border:0px;
      max-height: 50px;
    }
  }
  .acquis-content {
    width: 436px;
  }
  .field-name {
    text-transform: uppercase;
    margin: 5px 10px;
    text-align: center;
    color: #497180;
  }
  .valeur-group {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    justify-content: center;
  }
    .description-group {
      display: flex;
      flex-direction: column;
      .editor {
        min-height: 150px;
      }
      .editor-content {
        min-height: 150px;
        margin: 0px 5px;
        font-weight: normal;
      }
      .prosemirror menu {
        font-size: 0.8em;
        li {
          margin: 0px 0px;
        }
      }
    }
  }
