.action-sheet {
  background-color: white;
  background: var(--background_action);
  font-family: "arrusbt";
  font-weight: bold;
  color: black;
  .name-title {
    input {
      font-family: "trajan";
      font-size: 2em;
      text-transform: uppercase;
      text-align: center;
      border: 0px;
      margin-bottom: -0px;
      margin-top: 10px;
    }
  }
  .action-grid {
    display: grid;
    grid-template-columns: 40px 120px 40px 100px 40px 100px 20px;
    grid-template-rows: 40px 40px;
    margin-top: 10px;
    font-family: "imfellfrenchcanon";
    font-size: 1em;
    color: #605347;
    align-items: center;
    .action-label {
      align-self: center;
      font-size: 3em;
    }
    .action-val {
      select {
        font-family: "imfellfrenchcanon";
        font-size: 1em;
        color: #605347;
      }
    }
  }
  .opposition-grid {
    display: grid;
    grid-template-columns: 40px 80px 100px 40px 100px;
    grid-template-rows: 40px;
    font-family: "imfellfrenchcanon";
    font-size: 1em;
    color: #605347;
    align-items: center;
    margin-top: 15px;
    .opp-label {
      align-self: center;
      font-size: 1.2em;
    }
    .action-label {
      align-self: center;
      font-size: 3em;
    }
    .action-val {
      select {
        font-family: "imfellfrenchcanon";
        font-size: 1em;
        color: #605347;
      }
    }
  }
  .editor {
    min-height: 300px;
  }
  .editor-content {
    min-height: 300px;
    font-weight: normal;
    margin: 0px 5px;
  }
  .action-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .action-grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .actions-vert{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .vert-name {
      font-family: "arrusbt";
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }
}