.cab-sheet {
  .cabinet-header {
    background: repeat url("../assets/images/sheets/esprit-header.webp");
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    .titre_feuille {
      font-family: "arrusbt";
      font-weight: bold;
      font-size: 1.5em;
      color: white;
      text-transform: uppercase;
      padding-left: 10px;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    .titre_feuille::first-letter {
      font-size: 2rem;
    }
    .charname {
      font-family: "alexbrush";
      font-size: 3em;
      color: white;
      margin-left: 5px;
      margin-top: 10px;
      input {
        color: white;
      }
    }
    .cabinet-portrait {
      border: none;
      margin: 2px 10px 0px 0px;
      justify-self: end;
      width: 133px;
      height: 80px;
      img {
        border-radius: 50%;
      }
    }
  }
  .choix_tab {
    font-family: "posterbodoni";
    font-size: 1.2em;
    color: #f0eae1;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #f0eae1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    padding: 0.5em 0.5em 0.3em 0.5em;
  }
  .choix_tab.active {
    border: 2px solid white;
    color: white;
    border-bottom-width: 0;
  }
  .sheet-navigation {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    font-size: 1, 5em;
  }
  .cabinet-details {
    background: repeat url("../assets/images/sheets/fond_gestion.webp");
    display: grid;
    grid-template-columns: 500px 1fr;

    .cabinet-membres {
      min-width: 200px;
      min-height: 200px;
      border: 2px solid black;
      display: grid;
      grid-template-columns: 90px 90px 200px 90px;
      align-items: center;
      font-family: "arrusbt";
      .membre-name {
        font-family: "alexbrush";
        font-size: 1.8em;
        text-align: center;
      }
      .membre-img {
        padding: 5px;
        justify-self: end;
        width: 80px;
        height: 80px;
        img {
          max-height: 90%;
        }
      }
      .medaillon_cab {
        padding: 5px;
        justify-self: end;
        width: 80px;
        height: 80px;
        .context-menu {
          width: max-content;
        }
        .expand-up {
          top: 50px;
          left: 100px;
        }
        img {
          max-height: 90%;
          border: 0px;
        }
      }
      .membre-icone {
        width: 40px;
        margin: auto;
      }
      .titre_col {
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 1en;
      }
    }
    .right-col {
      width: auto;
      display: flex;
      flex-direction: column;
      .encart-exp {
        background: no-repeat url("../assets/images/sheets/encart_exp.webp");
        background-size: cover;
        font-family: "arrusbt";
        font-weight: bold;
        font-size: 1.5em;
        color: #497180;
        text-transform: uppercase;
        text-align: center;
        height:103px;
        width: 199px;
        align-self: center;
        margin-top: 20px;
        .text-exp {
          margin-top: 50px;
        }
        input {
          width: 1em;
        }
      }
    }
  }
}
