@import "./polices.less";
@import "./config.less";
@import "./esprit.less";
@import "./forms.less";
@import "./action.less";
@import "./acquis.less";
@import "./arme.less";
@import "./corruption.less";
@import "./pouvoir.less";
@import "./dice.less";


.resolution {
    font-family: "imfellfrenchcanon";
    font-size: 1em;
    color: #605347;
    text-indent: 0px;
    .aspect {
      font-style: italic;
      font-size: 1em;
    }
    .qualite {
      font-size: 0.7em;
      text-transform: uppercase;
      .qualite_first {
        font-size: 1.5em;
      }
    }
    .difficulte {
      font-family: "garamondpro";
      font-style: italic;
    }
  }