#comedien {
  width: 160px;

  .window-content {
    padding: 0;

    img {      
      height: 200px;
      width: 160px;
      border: none;
    }

    .comedien-corruption{
      font-family: "arrusbt";
      margin-left: 5px;
      font-weight: bold;
      line-height: 20px;
    }
  }
}
