.corps-sheet {
  background: var(--background_corps);
  min-height: 700px;
  .titre2 {
    font-family: "posterbodoni";
    font-size: 1.5em;
    color: #497180;
    text-align: center;
    text-transform: uppercase;
  }
  .script {
    text-align: justify;
    margin-left: 10px;
    font-family: "alexbrush";
    font-size: 1.3em;
    color: black;
    margin-left: 5px;
    margin-top: 10px;
    min-height: 80px;
  }
  .cdmdsc {
    min-height: 50px;
  }
  .editor {
    min-height: 100px;
  }
  .editor-content {
    min-height: 100px;
    font-weight: normal;
    margin: 0px 5px;
    font-size: 1em;
  }
  .corps-header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    .titre2 {
      text-align: center;
      font-family: "posterbodoni";
      font-size: 1.5em;
      color: #497180;
      text-transform: uppercase;
    }
    .titre_feuille {
      grid-column: 1 / 2;
      font-family: "arrusbt";
      font-weight: bold;
      font-size: 1.2em;
      color: white;
      text-transform: uppercase;
      padding-left: 10px;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    .titre_feuille::first-letter {
      font-size: 2rem;
    }
    .charname {
      grid-column: 2 / 3;
      font-family: "alexbrush";
      font-size: 3em;
      color: black;
      margin-left: 5px;
      margin-top: 10px;
      input {
        color: black;
      }
    }
  }
  .sheet-cont {
    display: flex;
    flex-direction: row;
    .sheet-navigation {
      width: 70px;
      flex-direction: column;
      justify-content: flex-start;
      font-size: 1, 5em;
    }
    .choix_tab {
      font-family: "posterbodoni";
      font-size: 1.8em;
      color: #f0eae1;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid #f0eae1;
      border-radius: 15px;
      text-align: center;
      padding: 0.5em 0.5em 0.3em 0.5em;
      margin: 20px 0px 20px 10px;
    }
    .choix_tab.active {
      border: 2px solid #7b3135;
      color: #7b3135;
    }

    .corps-main {
      display: grid;
      grid-template-columns: 400px 1fr;
      .attributs-bloc {
        display: flex;
        flex-direction: column;
        .grid-attributs {
          display: grid;
          grid-template-columns: 95px 40px 95px 40px 95px 40px;
          grid-template-rows: 1fr 1fr 1fr;
          margin: 15px 0px 15px 5px;
          .attribut-name {
            font-family: "arrusbt";
            font-weight: bold;
            font-size: 0.8em;
            color: #497180;
            text-transform: uppercase;
            padding-left: 10px;
            align-self: center;
          }
          .attribut-value {
            margin-top: 2px;
            border-radius: 50%;
            padding: 7px 8px;
            border: 2px solid #497180;
            color: #497180;
            text-align: center;
            font-size: 1em;
            font-weight: bold;
          }
        }
      }
      .img-bloc {
        border: none;
        margin: 5px 5px 5px 30px;
        justify-self: center;
        img {
          border-radius: 50%;
        }
      }
      .grid-armes {
        display: grid;
        grid-template-columns: 135px 135px 135px;
        margin: 15px 0px 15px 5px;
        .ligne-arme {
          font-family: "arrusbt";
          font-weight: bold;
          font-size: 1em;
          color: black;
          padding-left: 0.5em;
          align-self: center;
          text-align: center;
        }
      }
      .grid-cor {
        display: grid;
        grid-template-columns: 210px 210px;
        margin: 15px 0px 15px 5px;
        .ligne-cor {
          display: grid;
          text-align: center;
          border-bottom: 1px solid #724755;
        }
        .nom-cor {
          font-family: "arrusbt";
          font-weight: bold;
          font-size: 1em;
          color: #724755;
          padding-left: 0.5em;
          align-self: center;
        }
        .desc {
          font-family: "garamondpro";
          font-size: 0.9em;
          text-indent: 0px;
          text-align: justify;
          padding-left: 5px;
          padding-right: 5px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }
    }
    .sstitre {
      font: 0.9em "imfellfrenchcanon";
      text-transform: uppercase;
      color: #7b3135;
      text-align: center;
    }
  }

  .ongletnotes {
    min-height: 600px;
    min-width: 710px;
    .notes-zone {
      padding: 10px;
      .outer-border {
        border: 6px solid #685649;
        height: 99%;
        width: 98%;
        padding: 6px;
        margin: 0 auto;
      }
      .inner-border {
        border: 2px solid #685649;
        height: 100%;
        width: 100%;
        padding: 6px;
        margin: auto;
      }
      .script {
        text-align: justify;
        margin-left: 10px;
        font-family: "alexbrush";
        font-size: 1.5em;
        color: black;
        margin-left: 5px;
        margin-top: 10px;
        min-height: 80px;
      }
      .cdmnotes {
        min-height: 500px;
      }
      .editor {
        min-height: 500px;
      }
      .editor-content {
        min-height: 500px;
        font-weight: normal;
        margin: 0px 5px;
        font-size: 0.8em;
      }
    }
  }

  .sante-grid {
    background: var(--background_sante_h);
    background-position: 55% 90%;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
    min-height: 600px;

    > div > label:first-child {
      font-family: "arrusbt";
      font-weight: bold;
      font-size: 0.9em;
      color: #497180;
      text-transform: uppercase;
    }

    .circles-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
      gap: 0px;
    }

    .circle-checkbox {
      -webkit-appearance: none; /* Supprime l'apparence par défaut pour WebKit/Blink */
      appearance: none; /* Supprime l'apparence par défaut */
      flex: 0 0 20px; /* Taille des cercles */
      border: 2px solid black; /* Contour des cercles */
      border-radius: 50%; /* Rend les inputs circulaires */
      margin: 0 5px; /* Espacement entre les cercles */
      cursor: pointer; /* Affiche un curseur pointeur lorsque vous survolez les cercles */
    }

    .circle-checkbox.filled {
      flex: 0 0 10px; /* Taille des cercles remplis */
      height: 10px;
      background-color: black; /* Remplissage pour le cercle plein */
    }

    .circle-checkbox.checked {
      background-color: black; /* Remplissage pour le cercle coché */
    }

    .sante-protection {
      display: flex;
      input {
        width: 25px;
      }
      text-align: center;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      font-family: "arrusbt";
      font-weight: bold;
      color: #497180;
      label {
        padding-right: 10px;
      }
    }
    .sante-tete {
      grid-row: 1 / 2;
      grid-column: 2 /3;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
    .sante-bras-droit {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
    .sante-bras-gauche {
      grid-row: 2 / 3;
      grid-column: 3 / 4;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
    .sante-torse {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
    .sante-jambe-droite {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
    .sante-jambe-gauche {
      grid-row: 4 / 5;
      grid-column: 3 / 4;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
  }
}
