:root {
    --background_acquis: none;
    --background_action: none;
    --background_arbre_vie: no-repeat url("/systems/cabinet/assets/images/sheets/arbre_vie.webp");
    --background_arme: none;
    --background_base: none;
    --background_cabinet_graces: none;
    --background_cabinet_grey: none;
    --background_corps: none;
    --background_corruption: none;
    --background_dialog: none;
    --background_esprit_header: none;
    --background_esprit_header: repeat url("/systems/cabinet/assets/images/sheets/esprit-header.webp");
    --background_esprit_header_jardin: repeat url("/systems/cabinet/assets/images/sheets/esprit-header-jardin.webp");
    --background_esprit_header_comedien: repeat url("/systems/cabinet/assets/images/sheets/esprit-header-comedien.webp");
    --background_esprit_tab_pouvoir: repeat url("/systems/cabinet/assets/images/sheets/esprit-tab-pouvoirs.webp");
    --background_esprit_tab_profil: repeat url("/systems/cabinet/assets/images/sheets/esprit-tab-profil.webp");
    --background_esprit_tab_actions: repeat url("/systems/cabinet/assets/images/sheets/esprit-tab-actions.webp");
    --background_esprit_tab_qualites: repeat url("/systems/cabinet/assets/images/sheets/esprit-tab-qualites.webp");
    --background_esprit_encart_exp: no-repeat url("/systems/cabinet/assets/images/sheets/encart_exp.webp");
    --background_esprit_encart_exp_col: no-repeat url("/systems/cabinet/assets/images/sheets/encart_exp_col.webp");
    --background_ins-pouvoir: none;
    --background_pnj: none;
    --background_pouvoir: none;
    --background_sante_f: none;
    --background_sante_h: none;
    --background_sante_armure: none;
    --background_chat: none;
    --fond_esprit: #EFEBE2;
}