/* ----------------------------------------- */
/*  Roll Dialog                              */
/* ----------------------------------------- */
.roll-content-mixin {
  display: grid;
  grid-template-columns: 120px 200px 25px;
  justify-content: space-around;
  align-items: center;
}

.cabinet.roll {
  .content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 50px);
    gap: 10px;

    .qualite {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      .roll-content-mixin;
    }

    .aspect {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      .roll-content-mixin;
    }

    .attribut {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
      .roll-content-mixin;
    }

    .embellie {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      .roll-content-mixin;
    }

    .malus {
      grid-row: 2 / 3;
      grid-column: 3 / 4;
      .roll-content-mixin;
    }

    .acquis {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      .roll-content-mixin;
    }

    .perisprit {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      .roll-content-mixin;
    }

    .bonus {
      grid-row: 3 / 4;
      grid-column: 3 / 4;
      .roll-content-mixin;
    }

    .difficulte {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      .roll-content-mixin;
    }

    .dialog-button {
      grid-row: 4 / 5;
      grid-column: 2 / 3;
    }

    label,
    select {
      font-family: "trajan";
      font-size: 1em;
      color: #6a7980;
      text-indent: 5px;
      text-transform: uppercase;
    }

    input {
      font-family: "trajan";
      font-size: 1em;
      color: #6a7980;
      text-indent: 5px;
      text-transform: uppercase;
      width: 25px;
    }
  }

  // Success
  &.success .check-result {
    background: rgb(0 255 0 / 5%);
    border: 1px solid green;
  }

  // Failure
  &.failure .check-result {
    background: rgb(255 0 0 / 5%);
    border: 1px solid red;
  }

  // Critical Failure
  &.failure.critical .check-result {
    background: rgb(255 0 0 / 5%);
    color: red;
    border: 1px solid red;
  }

  // Critical Success
  &.success.critical .check-result {
    background: rgb(0 255 0 / 5%);
    color: green;
    border: 1px solid green;
  }
}

.dice-tooltip {
  .counter {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
    label {
      font-size: 16px;
      font-family: var(--fontFamilySerif);
    }
    span {
      width: 20px;
      height: 20px;
      background: rgba(0, 0, 0, 0.05);
      border: 1px solid;
      border-radius: 2px;
      text-align: center;
    }
  }
}
