/* ----------------------------------------- */
/*  Roll Dialog                              */
/* ----------------------------------------- */
.roll-content-mixin {
  display: grid;
  grid-template-columns: 120px 200px 25px;
  justify-content: space-around;
  align-items: center;
}

.cabinet.roll {
  .content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 50px);
    gap: 10px;

    .qualite {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      .roll-content-mixin;
    }

    .aspect {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      .roll-content-mixin;
    }

    .attribut {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
      .roll-content-mixin;
    }

    .embellie {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      .roll-content-mixin;
    }

    .malus {
      grid-row: 2 / 3;
      grid-column: 3 / 4;
      .roll-content-mixin;
    }

    .acquis {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      .roll-content-mixin;
    }

    .perisprit {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      .roll-content-mixin;
    }

    .bonus {
      grid-row: 3 / 4;
      grid-column: 3 / 4;
      .roll-content-mixin;
    }

    .difficulte {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
      .roll-content-mixin;
    }

    .dialog-button {
      grid-row: 4 / 5;
      grid-column: 2 / 3;
    }

    label,
    select {
      font-family: "trajan";
      font-size: 1em;
      color: #6a7980;
      text-indent: 5px;
      text-transform: uppercase;
    }

    input {
      font-family: "trajan";
      font-size: 1em;
      color: #6a7980;
      text-indent: 5px;
      text-transform: uppercase;
      width: 25px;
    }
  }

  // Success
  &.success .check-result {
    background: rgb(0 255 0 / 5%);
    border: 1px solid green;
  }

  // Failure
  &.failure .check-result {
    background: rgb(255 0 0 / 5%);
    border: 1px solid red;
  }

  // Critical Failure
  &.failure.critical .check-result {
    background: rgb(255 0 0 / 5%);
    color: red;
    border: 1px solid red;
  }

  // Critical Success
  &.success.critical .check-result {
    background: rgb(0 255 0 / 5%);
    color: green;
    border: 1px solid green;
  }
}

.dice-tooltip {
  .counter {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
    label {
      font-size: 16px;
      font-family: var(--fontFamilySerif);
    }
    span {
      width: 20px;
      height: 20px;
      background: rgba(0, 0, 0, 0.05);
      border: 1px solid;
      border-radius: 2px;
      text-align: center;
    }
  }
}
.flexcol {
  display: flex;
  flex-direction: column;
}
.dialog-check {
  background-color: white;
  background: var(--background_dialog);
  .bonus-lbl {
    text-align: center;
    margin-bottom: 5px;
  }
  .action-sheet-grid {
    display: grid;
    grid-template-columns: 40px 160px 40px 120px 40px 150px 20px;
    grid-template-rows: 60px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: "imfellfrenchcanon";
    font-size: 1em;
    color: #605347;
    align-items: center;
    .action-label {
      align-self: center;
      font-size: 3em;
    }
    .action-val {
      select {
        font-family: "imfellfrenchcanon";
        font-size: 1em;
        color: #605347;
      }
    }
  }
  .action-bonus-grid {
    display: grid;
    grid-template-columns: 80px 110px 130px 100px 150px;
    grid-template-rows: 60px;
    margin-left: 10px;
    margin-top: 10px;
    .bonus-block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .action-roll-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 60px;
    margin-left: 10px;
    margin-top: 10px;
    .rollmode {
      justify-self: center;
      margin: auto;
    }
    .dialog-button {
      padding: 10px;
      border: solid 2px #497180;
      border-radius: 20px;
      margin: 5px 80px;
    }
  }
}
