.cabinet.sheet.actor.esprit {
  .window-content {
    background: var(--fond_esprit);
  }
  .esprit-sheet {
    .esprit-header {
      background-color: #394e55;
      background: var(--background_esprit_header);
      display: grid;
      grid-template-columns: 120px 370px 90px 90px;
      .titre_feuille {
        font-family: "arrusbt";
        font-weight: bold;
        font-size: 1em;
        color: white;
        text-transform: uppercase;
        padding-left: 5px;
        margin-top: 1em;
        margin-bottom: 0.5em;
      }
      .titre_feuille::first-letter {
        font-size: 1.5rem;
      }
      .charname {
        font-family: "alexbrush";
        font-size: 2em;
        color: white;
        margin-left: 5px;
        margin-top: 12px;
        input {
          color: white;
        }
      }
      .perisprit-bloc {
        display: flex;
        flex-direction: column;
        .perisprit-label {
          font-family: "arrusbt";
          font-size: 0.8em;
          text-transform: uppercase;
          text-align: center;
          border: 0px;
          margin-bottom: 5px;
          margin-top: 16px;
          color: #ae9065;
        }
        .perisprit-value {
          text-align: center;
          input {
            font-family: "arrusbt";
            font-size: 1.5em;
            width: 2em;
            color: #ae9065;
            border: 0px;
          }
        }
      }
      .esprit-portrait {
        border: none;
        margin: 2px 8px 0px 0px;
        justify-self: end;
        width: 90px;
        height: 60px;
        z-index: 2;
        img {
          border-radius: 50%;
        }
      }
    }
    .choix_tab {
      font-family: "posterbodoni";
      font-size: 1em;
      color: #f0eae1;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid #f0eae1;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-width: 0;
      text-align: center;
      padding: 0.4em 0.4em 0.1em 0.3em;
    }
    .choix_tab.active {
      font-size: 1.1em;
      padding: 0.4em 0.5em 0.2em 0.5em;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      border: 3px solid white;
      color: white;
    }
    .sheet-navigation {
      grid-column: 1 / 3;
      display: flex;
      flex-direction: row;
      font-size: 1em;
    }

    .titre2 {
      font-family: "posterbodoni";
      font-size: 1em;
      color: #497180;
      text-align: center;
      text-transform: uppercase;
    }
    .tab-qualites {
      background: var(--background_esprit_tab_qualites);
    }

    .grid-tab-qualites {
      display: grid;
      grid-template-columns: 220px 440px;
      padding-left: 5px;
      min-height: 488px;
    }
    .grid-arbre-qualites {
      grid-row: 1 / 6;
      grid-column: 1 / 2;
      display: grid;
      margin-top: 9px;
      grid-template-columns: 60px 78px;
      grid-template-rows: 81px 82px 79px 80px;
    }
    .intellect-group {
      position: relative;
      z-index: 1;
      margin-top: 30px;
      grid-row: 1;
      grid-column: 1 / 2;
    }
    .courage-group {
      grid-row: 1;
      grid-column: 2 / 3;
      margin-top: -4px;
    }
    .sensibilite-group {
      position: relative;
      z-index: 1;
      margin-top: 30px;
      grid-row: 1;
      grid-column: 3 / 4;
    }
    .autorite-group {
      position: relative;
      z-index: 1;
      margin-top: 30px;
      grid-row: 2;
      grid-column: 1 / 2;
    }
    .ouverture-group {
      position: relative;
      z-index: 1;
      margin-top: 30px;
      grid-row: 2;
      grid-column: 3 / 4;
    }
    .savoir-group {
      position: relative;
      z-index: 1;
      margin-top: 30px;
      grid-row: 3;
      grid-column: 1 / 2;
    }
    .serenite-group {
      grid-row: 3;
      grid-column: 2 / 3;
      margin-top: -4px;
    }
    .charisme-group {
      position: relative;
      z-index: 1;
      margin-top: 30px;
      grid-row: 3;
      grid-column: 3 / 4;
    }
    .attention-group {
      grid-row: 4;
      grid-column: 2 / 3;
      margin-top: -1px;
    }
    .coordination-group {
      grid-row: 5;
      grid-column: 2 / 3;
    }
    .qualite-group {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 25px 21px 17px;
      .qualite-name {
        font-family: "arrusbt";
        font-weight: bold;
        font-size: 0.9em;
        color: #497180;
        text-transform: uppercase;
        margin-top: 7px;
        padding-left: 7px;
      }
      .qualite-value {
        font-family: "arrusbt";
        font-weight: bold;
        font-size: 1.5em;
        color: #497180;
        text-transform: uppercase;
        input {
          margin-left: -4px;
          text-align: center;
          width: 0.8em;
        }
      }
      .qualite-value:hover {
        text-shadow: 0px 0px 5px #ea2b58;
      }
      .qvdroite {
        padding-left: 28px;
      }
      .qvcentre {
        padding-left: 38px;
      }
      .qvgauche {
        padding-left: 31px;
      }
      .position-arbre {
        text-shadow: 0 0 5px #3c36f4;
      }
      .defaut-value {
        font-family: "arrusbt";
        font-weight: bold;
        font-size: 1em;
        color: #7b3135;
        text-transform: uppercase;
        input {
          text-align: center;
          width: 0.7em;
          margin-left: -3px;
        }
      }
      .dvdroite {
        padding-left: 39px;
      }
      .dvcentre {
        padding-left: 49px;
      }
      .dvgauche {
        text-align: left;
        padding-left: 25px;
      }
      .defaut-name {
        font-family: "arrusbt";
        font-weight: bold;
        font-size: 0.6em;
        color: #7b3135;
        text-transform: uppercase;
      }
      .dndroite {
        padding-left: 26px;
      }
      .dncentre {
        padding-left: 25px;
        text-align: left;
      }
      .dngauche {
        padding-left: 0px;
      }
    }
    .col-droite-qualites {
      display: flex;
      flex-direction: column;
      .col-droite-bloc0 {
        display: flex;
        flex-direction: row;
        font-family: "arrusbt";
        font-weight: bold;
        font-size: 1em;
        color: #685a4e;
        text-transform: uppercase;
        padding-left: 120px;
        margin-top: 10px;
        .comportement {
          margin-left: 5px;
          font-style: italic;
        }
      }
      .col-droite-bloc1 {
        display: grid;
        grid-template-columns: 160px 1fr;
        padding-left: 50px;
        margin-top: 20px;
        .aspects-grid {
          display: grid;
          grid-template-columns: 120px 30px 1fr;
          grid-template-rows: 26px 26px 26px;
          .aspects-ligne {
            display: flex;
            flex-direction: row;
            margin-top: 4px;
            .nom-aspect {
              font-family: "arrusbt";
              font-weight: bold;
              font-size: 1em;
              color: #497180;
              text-transform: uppercase;
              padding-left: 10px;
            }
          }
          .aspectcircle {
            border-radius: 50%;
            padding: 5px 6px;
            border: 2px solid #497180;
            color: #497180;
            text-align: center;
            font-size: 0.9em;
            font-weight: bold;
          }
        }

        .corruptions-col {
          display: flex;
          flex-direction: column;
          .ligne-corruption {
            display: grid;
            grid-template-columns: 5fr 1fr 1fr;
            justify-content: left;
            margin: 0.5em 0.5em 0px 0.5em;
            border-bottom: 1px solid #724755;
          }
          .nom-corruption {
            font-family: "arrusbt";
            font-weight: bold;
            font-size: 1em;
            color: #724755;
            padding-left: 0.5em;
            align-self: center;
          }
          .icon-group {
            margin-left: auto;
          }
          .desc {
            font-family: "garamondpro";
            font-size: 0.9em;
            text-indent: 0px;
            text-align: justify;
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 0px;
            margin-bottom: 0px;
          }
        }
      }

      .col-droite-bloc3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 50px;
        .medaillon_cab {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 10px 10px 5px 30px;
          width: 120px;
          img {
            border: 0px;
          }
          #context-menu {
            width: max-content;
            top: calc(50%);
          }
        }
        .encart-exp {
          background: var(--background_esprit_encart_exp);
          background-size: contain;
          font-family: "arrusbt";
          font-weight: bold;
          font-size: 1.5em;
          color: #497180;
          text-transform: uppercase;
          text-align: center;
          width: 180px;
          margin-top: 50px;

          .text-exp {
            margin-top: 50px;
          }
          input {
            width: 1em;
          }
        }
      }
      .acquis-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 50px;
        .ligne-acquis {
          display: grid;
          grid-template-columns: 5fr 1fr;
          justify-content: left;
          margin: 0.5em 0.5em 0px 0.5em;
          border-bottom: 1px solid black;
        }
        .acquis-nom {
          font-family: "arrusbt";
          font-weight: bold;
          font-size: 1em;
          color: #497180;
          padding-left: 0.5em;
          align-self: center;
        }
        .desc {
          font-family: "garamondpro";
          font-size: 0.9em;
          text-indent: 0px;
          text-align: justify;
          padding-left: 5px;
          padding-right: 5px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }
    }
    .grid-tab-actions {
      background: var(--background_esprit_tab_actions);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .lowopacity{
        opacity: 0.33;
      }
      .categorie {
        display: flex;
        flex-direction: column;
        margin: 5px 3px 0px 3px;
        min-height: 250px;
        .actions-ligne {
          margin-top: 6px;
          .logo_action:hover {
            box-shadow: 0px 0px 5px #ea2b58;
          }
        }
      }
      .categorie-agir {
        grid-row: 1 / 4;
        grid-column: 1 / 2;
      }
      .categorie-communiquer {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }
      .categorie-attaquer {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }
      .categorie-percevoir {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
      }
      .categorie-defendre {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
      }
      .nom-action {
        font-family: "trajan";
        font-size: 0.8em;
        color: #6a7980;
        text-indent: 4px;
        text-transform: uppercase;
      }
    }
    .tab-pouvoirs {
      background: var(--background_esprit_tab_pouvoir);
      min-height: 488px;

      .titre2 {
        color: white;
        max-height: 30px;
      }
      .grid-pouvoirs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .bloc-pouvoir {
          padding: 0px 2px;
          #context-menu {
            width: max-content;
            top: calc(20%);
          }
        }
        .nom {
          font-family: "arrusbt";
          font-weight: bold;
          font-size: 1.1em;
          text-transform: uppercase;
          text-align: center;
          border: 0px;
          margin-bottom: 5px;
          margin-top: 8px;
          color: #ae9065;
        }
        .info-line {
          font-family: "arrusbt";
          font-weight: bold;
          font-size: 0.9em;
          margin-bottom: 3px;
          border: 0px;
          color: #ae9065;
          text-align: center;
        }

        .neoclassic {
          font-family: "neoclassic";
          font-size: 1.1em;
          text-align: center;
          color: #ae9065;
          text-indent: 0px;
          margin: 0px;
        }
        .description {
          font-size: 0.9em;
          color: white;
          text-align: justify;
          border: 2px solid #886a3c;
          width: 98%;
          padding: 6px;
          margin: 0 auto;
          background: rgba(10, 9, 0, 0.5);
        }
        .inner-desc {
          position: relative;
          border: 2px solid #886a3c;
          width: 100%;
          margin: auto;
          padding: 8px;
        }
      }
    }

    .script {
      text-align: justify;
      font-family: "alexbrush";
      font-size: 1.3em;
      color: black;
      margin-left: 4px;
      margin-top: 8px;
      min-height: 80px;
    }
    .tab-concept {
      background: var(--background_esprit_tab_profil);
      min-height: 488px;

      .titre_paragraphe {
        text-indent: 0px;
        font-family: "garamondpro";
        font-size: 1.4em;
        color: #3c4b50;
        text-align: center;
        margin: 0px 0px 10px 0px;
      }
      .editor {
        font-size: 1em;
      }
      .concept-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .concept-col1 {
          margin: 5px;
          .outer-border {
            border: 4px solid #685649;
            height: 99%;
            width: 98%;
            padding: 2px;
            margin: 0 auto;
          }
          .inner-border {
            border: 2px solid #685649;
            height: 100%;
            width: 100%;
            padding: 4px;
            margin: auto;
          }
          .editor {
            min-height: 500px;
          }
        }
        .concept-col2 {
          margin: 5px;
        }
      }
      .editor-content {
        font-weight: normal;
        margin: 0px 5px;
        font-size: 0.8em;
      }
      .prosemirror menu {
        font-size: 0.8em;
        li {
          margin: 0px 0px;
        }
      }
    }
    .ongletnotes {
      background: var(--background_esprit_tab_profil);
      min-height: 488px;
      .notes-zone {
        padding: 5px;
        .outer-border {
          border: 4px solid #685649;
          height: 99%;
          width: 98%;
          padding: 4px;
          margin: 0 auto;
        }
        .inner-border {
          border: 2px solid #685649;
          height: 100%;
          width: 100%;
          padding: 4px;
          margin: auto;
        }
        .cdmnotes {
          min-height: 410px;
        }
        .editor {
          min-height: 410px;
        }
        .editor-content {
          min-height: 410px;
          font-weight: normal;
          margin: 0px 5px;
          font-size: 0.8em;
        }
      }
    }

    .expand-up {
      top: 50px;
      left: 100px;
    }
  }
}
