.cabinet-membres {
  min-width: 200px;
  min-height: 200px;
  border: 2px solid black;
}
.arbre-de-vie {
  background: repeat url("../assets/images/sheets/arbre_vie.webp");
  width: 500px;
  height: 727px;
}
