<div class="grid-tab-qualites">
<div class="grid-arbre-qualites">
    <div class="qualite-group intellect-group">
      {{> "systems/cabinet/templates/partials/actor/qualite-group.hbs" qualite='intellect' gauche="1"}}
    </div>
    <div class="qualite-group courage-group">
      {{> "systems/cabinet/templates/partials/actor/qualite-group.hbs" qualite='courage' }}
    </div>
    <div class="qualite-group sensibilite-group">
      {{> "systems/cabinet/templates/partials/actor/qualite-group.hbs" qualite='sensibilite' }}
    </div>
    <div class="qualite-group autorite-group">
      {{> "systems/cabinet/templates/partials/actor/qualite-group.hbs" qualite='autorite' gauche="1" }}
    </div>
    <div class="qualite-group ouverture-group">
      {{> "systems/cabinet/templates/partials/actor/qualite-group.hbs" qualite='ouverture' }}
    </div>
    <div class="qualite-group savoir-group">
      {{> "systems/cabinet/templates/partials/actor/qualite-group.hbs" qualite='savoir' gauche="1" }}
    </div>
    <div class="qualite-group serenite-group">
      {{> "systems/cabinet/templates/partials/actor/qualite-group.hbs" qualite='serenite' }}
    </div>
    <div class="qualite-group charisme-group">
      {{> "systems/cabinet/templates/partials/actor/qualite-group.hbs" qualite='charisme' }}
    </div>
    <div class="qualite-group attention-group">
      {{> "systems/cabinet/templates/partials/actor/qualite-group.hbs" qualite='attention' }}
    </div>
    <div class="qualite-group coordination-group">
      {{> "systems/cabinet/templates/partials/actor/qualite-group.hbs" qualite='coordination' }}
    </div>


</div>

</div>