<div class="cabinet_chat">
    <div class="foreground">
        <div class="intro-chat">
            {{#if (ne actingCharImg "icons/svg/mystery-man.svg")}}
            <div class="introImg">
                <img src="{{actingCharImg}}" title="{{actingCharName}}" />
            </div>
            {{/if}}
            <div class="intro_right">
            <p class="introText">{{{introText}}}</p>
            </div>
        </div>
        <p>{{nomComedien}} ou MJ peuvent accepter :</p>
        <p> <button id="accepter">Accepter</button></p>
        <p> <button id="annuler">Refuser</button></p>
        <p> <button id="demarrerDiscorde">Discorde</button></p>
    </div>
</div>