<div class="cabinet chat">
    <div class="foreground">
        <p>{{nomEsprit}} réclame le contrôle.</p>
        <p>{{nomComedien}} ou MJ peuvent accepter :</p>
        <p> <button id="accepter">Accepter</button></p>
        <p> <button id="annuler">Refuser</button></p>
        <p> <button id="demarrerDiscorde">Discorde</button></p>
    </div>
</div>