<div class="tab-notes">
  <div class="notes-zone">
    <div class="outer-border">
      <div class="inner-border">
        <div class="titre2">Notes</div>
        <div class="script notes">
          {{#if editable}}
            {{editor noteshtml target="system.notes" button=true engine="prosemirror" owner=owner editable=editable}}
          {{else}}
            {{{noteshtml}}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>