{{!log "comedien-app" this}}
{{#if comedienDefini}}
  <img src="{{image}}" data-tooltip="{{nom}}" />
  {{#if (gt corruptions.length 0)}}
      {{#each corruptions as |corruption|}}
        <div class="comedien-corruption">{{corruption.name}}</div>
      {{/each}}
  {{/if}}
{{else}}
  <img src="icons/svg/mystery-man.svg" title="Pas de comédien défini" />
{{/if}}