{{!log "comedien-app" this}}
{{#if comedienDefini}}
  <div class="comedien-img">
    <img src="{{comedien.img}}" data-tooltip="{{comedien.name}}" />
  </div>
  {{#if (gt corruptions.length 0)}}
    {{#each corruptions as |corruption|}}
      <div class="comedien-corruption">{{corruption.name}}</div>
    {{/each}}
  {{/if}}
{{else}}
  <div class="comedien-img">
    <img src="icons/svg/mystery-man.svg" title="Pas de comédien défini" />
  </div>
{{/if}}